{% extends "base.html" %}

{% block title %} Mr H - Home {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<a class="btn btn-success" href="/new-blog-post">New post!</a>
{% for entry in entries %}
    <div class="card">
        <div class="card-header text-center">
            {{ entry[1] }}
        </div>
        <div class="card-body">
            <p class="card-text">{{ entry[2] }}</p>
        </div>
        <div class="card-footer text-muted text-right">
            <p>Posted on {{  entry[3] }} at {{ entry[4] }} <button type="button" class="btn btn-secondary-light" href="delete-post/{{ entry[0] }}"data-container="body" data-toggle="hover" data-placement="bottom" data-content="Delete this post"><i class="fas fa-trash-alt"></i></button></p>
        </div>
    </div>

{% endfor %}
{% endblock %}

