{% extends "base.html" %}

{% block title %} Mr H - Home {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<a class="btn btn-success" href="/new-blog-post">New post!</a>
{% for entry in entries %}
    <div class="card text-center">
        <div class="card-header">
            {{ entry[0] }}
        </div>
        <div class="card-body">
            <p class="card-text">{{ entry[1] }}</p>
        </div>
        <div class="card-footer text-muted">
            Posted at {{ entry[2] }}
        </div>
    </div>

{% endfor %}
{% endblock %}

