{% extends "base.html" %}

{% block title %} Mr H - Home {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
<a class="btn btn-success" href="/new-blog-post">New post!</a>
{% for entry in entries %}
    <div class="card">
        <div class="card-header text-center">
            {{ entry[0] }}
        </div>
        <div class="card-body">
            <p class="card-text">{{ entry[1] }}</p>
        </div>
        <div class="card-footer text-muted text-right">
            Posted on {{  entry[2] }} at {{ entry[3] }}
        </div>
    </div>

{% endfor %}
{% endblock %}

