{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h2>Sign up with us!</h2>
    <form action="/do-register" method="post">
        <div class="form-group">
            <label for="fname">First name</label>
            <input id="fname" name="fname" placeholder="First name" type="text" required="required" class="form-control">
        </div>
        <div class="form-group">
            <label for="lname">Last name</label>
            <input id="lname" name="lname" placeholder="Last name" type="text" required="required" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" placeholder="Email address" type="text" required="required" class="form-control">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input id="pwd" name="pwd" placeholder="Enter your password" type="text" required="required" class="form-control">
        </div>
        <div class="form-group">
            <label for="pwd2">Password (again)</label>
            <input id="pwd2" name="pwd2" placeholder="Enter your password (again)" type="text" required="required" class="form-control">
        </div>
        <div class="form-group">
            <button name="submit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}

